body {
  font-family: "Raleway", sans-serif;
  background-color: black;
color: rgb(48, 28, 85); }

/* Hero Section */

#Hero-Section {
 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Acerca-de-mi */

#container text-center my-5{
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(48, 28, 85);
}




/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(48, 28, 85);
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}